<!-- ==================== Header Top Start Here ==================== -->
<div class="header-top">
    <div class="container container-two">
        <div class="flx-between">
            <div class="header-info flx-align">
                <div class="header-info__item flx-align">
                    <span class="header-info__icon"><i class="fas fa-phone"></i></span>
                    <a title="01 89 70 85 15" href="tel:01 89 70 85 15" class="header-info__text">01 89 70 85 15</a>
                </div>
                <div class="header-info__item flx-align">
                    <span class="header-info__icon"><i class="fas fa-envelope"></i></span>
                    <a title="contact@avonova.fr" href="mailto:contact@avonova.fr"
  class="header-info__text">contact@avonova.fr</a>
                </div>
            </div>
            <div class="header-info flx-align d-sm-block d-none">
                <div class="header-info__item flx-align">
                    <span class="header-info__icon"><i class="fas fa-map-marker-alt"></i></span>
                    <span class="header-info__text">6 rue d’Armaillé, 75017 Paris</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Header Top End Here ==================== -->
<!-- ==================== Header Start Here ==================== -->
<header class="header">
    <div class="container container-two">
        <nav class="header-inner flx-between">
            <!-- Logo Start -->
            <div class="logo">
                <a title="AVONOVA" href="{{ url('app_index') }}" class="link">
                    <img src="https://images.prismic.io/avonova/Zfr-rwmzsfHOGI25_LOGODE%CC%81FINITIFAVONOVA-200x200px-.png?auto=format,compress" loading="lazy" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none">

                <ul class="nav-menu flx-align ">
                    <li class="nav-menu__item">
                        <a title="AVONOVA" href="{{ url('app_index') }}" class="nav-menu__link">Accueil</a>
                    </li>
                    <li class="nav-menu__item ">
                        <a title="faq" href="{{ url('app_faq') }}" class="nav-menu__link">FAQ</a>
                    </li>
                    <li class="nav-menu__item">
                        <a title="Contact" href="{{ url('app_contact') }}" class="nav-menu__link">Contact</a>
                    </li>
                    <li class="nav-menu__item">
                        <a title="home" href="https://avonova.freshdesk.com/support/home" target="_blank" class="nav-menu__link">Support et Suivi</a>
                    </li>
                </ul>
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="header-right flx-align">
                <button type="button" class="offcanvas-btn d-lg-block d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
                        <line x1="0.0078125" y1="12.293" x2="30.0078" y2="12.293" stroke="#181616" stroke-width="3"/>
                        <path d="M5.00781 22.293H30.0078" stroke="#181616" stroke-width="3"/>
                        <path d="M10.0078 2.29297H30.0078" stroke="#181616" stroke-width="3"/>
                    </svg>
                </button>
                <a title="confiez nous un bien" href="https://tally.so/r/mYQOAv" target="_blank" class="btn btn-outline-light d-lg-block d-none">Confiez nous un bien
                    <span class="icon-right text-gradient icon">
                        <i class="fas fa-arrow-right"></i>
                     </span>
                </a>
                <button type="button" class="toggle-mobileMenu d-lg-none ms-3"> <i class="las la-bars"></i> </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->
