<!-- ==================== Footer Two Start Here ==================== -->
<footer class="footer footer-two padding-y-120">
    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-xl-4 col-lg-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a title="AVOVONA" href="{{ url('app_index') }}"> <img src="https://images.prismic.io/avonova/Zfr-LQmzsfHOGI2k_LOGODE%CC%81FINITIFAVONOVA-1-.png?auto=format,compress" alt=""></a>
                    </div>
                    <p class="footer-item__desc">Vos transactions immobilières n’ont jamais été aussi simples</p>

                    <h6 class="footer-item__title mt-4 mt-lg-5">Travaillons ensemble</h6>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-map-marker-alt"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Adresse</span>
                                    <span class="contact-info__address text-white">6 rue d’Armaillé, 75017 Paris</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="contact-info d-flex gap-2">
                                <span class="contact-info__icon text-gradient"><i class="fas fa-phone"></i></span>
                                <div class="contact-info__content">
                                    <span class="contact-info__text text-white">Téléphone</span>
                                    <span class="contact-info__address text-white">01 89 70 85 15</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title"></h6>
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title">Newsletter</h6>
                    <p class="footer-item__desc"> Restez informés </p>

                    <form action="#" class="mt-4 subscribe-box">
                        <div class="input-group">
                            <input type="text" class="form-control common-input common-input--md text-white" placeholder="Email">
                            <button type="submit" class="px-4 input-group-text bg--gradient border-0 text-white"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>

                    <ul class="social-list">
                        <li class="social-list__item"><a title="Avonova Immobilier" href="https://www.facebook.com/avonova.immobilier" target="_blank" class="social-list__link flx-center"><i class="fab fa-facebook-f"></i></a> </li>
                        <li class="social-list__item"><a title="Avonova Immobilier" href="https://www.linkedin.com/company/avonova-immobilier" target="_blank" class="social-list__link flx-center"> <i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- bottom Footer -->
<div class="bottom-footer">
    <div class="container container-two">
        <div class="bottom-footer__inner flx-between gap-3">
            <p class="bottom-footer__text"> &copy; Avonova 2024 | All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#" class="footer-link">Mentions Légales</a>
                <a href="#" class="footer-link">CGV</a>
                <a href="#" class="footer-link">Politique de confidentialité</a>
                <a title="Contact" href="{{ url('app_contact') }}" class="footer-link">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Footer Two End Here ==================== -->
